#demoFont {
font-family: "Lucida Console", Monaco, monospace;
font-size: 30px;
letter-spacing: 6px;
word-spacing: -1px;
color: #000000;
font-weight: 400;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: uppercase;
}

#demotext {
color: rgba(255,255,255,.3);
background: #1a1a1a;
text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
}


body {
  background-image: url("img_tree.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
